/* RESET */

ul {
    list-style: none;
}

a {
    all: unset;
    cursor: pointer;
}

img {
    max-width: 100%;
}

/* UTILITIES */

.ms_bg-dark-blue {
    background-color: #2D3E50;
}

.ms_bg-blue {
    background-color: #3A546D;
}

.ms_bg-green {
    background-color: #1BBC9B;
}

.ms_gap {
    gap: 10px;
}

/* debug */

.ms_border {
    border: 1px solid red;
}

/* HEADER */

header {
    height: 60px;
}

/* hero */

.hero {
    /* debug */
    height: 200px;
}

#portfolio .row img {
    border-radius: 10px;
}