/* RESET */
img {
    max-width: 100%;
}

/* UTILITIES */

.ms_bg-dark-blue {
    background-color: #2D3E50;
}

.ms_bg-blue {
    background-color: #3A546D;
}

.ms_bg-green {
    background-color: #1BBC9B;
}

.ms_small-container {
    max-width: 620px;
    margin: 0 auto;
}

.ms_medium-container {
    max-width: 70%;
    margin: 0 auto;
}

.ms_line {
    width: 20%;
    max-width: 124px;
}

/* HEADER */

/* MAIN */

/* hero */

.ms_avatar {
    max-width: 200px;
}

/* portfolio */

/* about */

/* contact */
.ms_input {
    border-radius: 0;
}

form .ms_input:focus {
    border-color: #1BBC9B;
    border-radius: 10px;
    box-shadow: 0 0 0 0.25rem #1BBC9B;
}

.ms_button:hover {
    background-color: #2D3E50;
}

#contact .ms_button:active {
    background-color: #3A546D;
}

/* FOOTER */

.ms_circle {
    width: 3em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid white;
}

.ms_circle:hover {
    color: #1BBC9B;
    border-color: #1BBC9B;
}

.ms_link {
    color: #1BBC9B;
    text-decoration: none;
}

/* cta */